html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  z-index: 100;
  position: relative;
  font-family: "Roboto", sans-serif;
  .header {
    width: 100%;
    top: 0;
    position: fixed;
    height: 80px;
    background-color: white;

    align-items: center;
    box-shadow: 0px 10px 48px -3px rgba(0, 0, 0, 0.1);
    .header-content {
      width: 100%;
      padding: 0 100px;
      display: flex;
      height: 100%;
      .header-logo {
        margin-left: 10%;
        display: flex;
        align-items: center;
        span {
          color: #ff4655;
        }
        .pic {
          img {
            width: 100px;
            height: 100px;
          }
        }
      }
      .header-list-games {
        display: flex;
        margin-left: 40%;
        li {
          display: flex;
          align-items: center;
          a {
            padding: 10px 0;
            display: flex;
            align-items: center;
            margin: 0 30px;
            border-radius: 30px;
            border: 3px solid #ff4655;
            span {
              color: #ff4655;
              font-size: 20px;
              padding: 0 20px;
              font-weight: bold;
            }
          }
        }
        a:hover {
          background-color: #ff4655;
          span {
            color: white;
          }
        }
      }
    }
  }
  .content {
    .subnav {
      background-color: #d3d0d0;
      display: flex;
      justify-content: left;
      padding: 0 20%;
      padding-top: 50px;
      border-bottom: 2px solid #ff4655;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        padding: 10px 20px;
        background-color: white;
        border: 2px solid #ff4655;
        border-bottom: none;
        margin: 0 5px;
        color: #ff4655;
        font-weight: bold;
        border-top-right-radius: 23px;
        border-top-left-radius: 23px;
      }
      li:hover {
        background-color: #ff4655;
        color: white;
      }
      .choosing {
        box-shadow: 0px -3px 15px 5px rgba(0, 0, 0, 0.4);
        background-color: #ff4655;
        color: white;
      }
    }
    padding-top: 80px;
    .random-box {
      display: none;
      padding-top: 130px;
      padding-bottom: 130px;
      .agent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: auto auto;
        .agent-avatar {
          box-shadow: 0px 10px 48px -3px rgba(0, 0, 0, 0.1);
          border: 3px solid #ff4655;
          border-radius: 23px;
          display: flex;
          padding: auto 10px;
          height: 150px;
          img {
            border-radius: 23px;
            width: 150px;
          }
        }
      }
      .button {
        display: flex;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 23px;
        color: #ff4655;
        background-color: white;
        border: 2px solid #ff4655;
      }
      button:hover {
        color: white;
        background-color: #ff4655;
      }
    }
    .random-boxes {
      display: none;
      ul {
        display: flex;
        justify-content: center;
      }
      padding-top: 130px;
      padding-bottom: 130px;
      .agents {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: auto auto;
        .agent-avatar {
          box-shadow: 0px 10px 48px -3px rgba(0, 0, 0, 0.1);
          border: 3px solid #ff4655;
          border-radius: 23px;
          display: flex;
          padding: auto 10px;
          height: 150px;
          margin: 0 10px;
          img {
            border-radius: 23px;
            width: 150px;
          }
        }
      }
      button {
        display: flex;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 23px;
        color: #ff4655;
        background-color: white;
        border: 2px solid #ff4655;
      }
      button:hover {
        color: white;
        background-color: #ff4655;
      }
    }
    .active-box {
      display: block;
    }
    .list-agents {
      .types {
        .agent-types {
          display: flex;
          justify-content: center;
          border: 2px solid #ff4655;
          width: 550px;
          margin: 0 auto;
          border-radius: 30px;
          li {
            cursor: pointer;
            padding: 20px 30px;
            font-weight: bold;
          }
          // li:hover {
          //   background-color: #ff4655;
          //   color: white;
          // }
          .active {
            background-color: #ff4655;
            color: white;
          }
        }
        margin-bottom: 30px;
      }
      .agents {
        img {
          width: 100px;
        }
        display: flex;
        justify-content: center;
        .all-agents {
          border-radius: 23px;
          border: 4px solid #ff4655;
          width: 80%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-left: 10px;
          background-color: #f9aeb4;
          li {
            display: none;
            justify-content: center;
            flex: 0 0 calc(10%);
            border-radius: 23px;
            margin: 10px 0 10px 0;
            img {
              border: 1px solid black;
              border-radius: 23px;
              background-color: #56a69e;
            }
          }
          .display {
            display: flex;
          }
          .choosing {
            box-shadow: 0px 0px 15px 11px #ff4655;
          }
          margin-bottom: 80px;
          padding: 20px;
        }
      }
    }
  }
  .content::after {
    position: absolute;
    content: "";
    background-image: url("../images/slider-right-dec.jpg");
    width: 1000px;
    height: 400px;
    right: 0px;
    top: 130px;
    z-index: -1;
  }
  .content::before {
    position: absolute;
    content: "";
    background-image: url("../images/blog-left-dec.jpg");
    width: 600px;
    height: 400px;
    z-index: -1;
    left: -220px;
    top: 180px;
    transform: rotate(90deg);
  }
  .footer {
    width: 100%;
    height: 130px;
    background-color: #ff4655;
    opacity: 0.8;
  }
}
